<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557180706253-um3cmf96md2qfto7nuuop5cqahedcj2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557180706253-um3cmf96md2qfto7nuuop5cqahedcj2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCwYd_dpxvGzGHdmvwOs3sPvTvfWtkgfTc</string>
	<key>GCM_SENDER_ID</key>
	<string>557180706253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.notifyme</string>
	<key>PROJECT_ID</key>
	<string>notifyme-d5511</string>
	<key>STORAGE_BUCKET</key>
	<string>notifyme-d5511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557180706253:ios:5aedc52956b22d68917884</string>
	<key>DATABASE_URL</key>
	<string>https://notifyme-d5511.firebaseio.com</string>
</dict>
</plist>